<div class="container main-content">
  <h2>New Message</h2>

  <form class="form" name="form" (ngSubmit)="onSendMessage()" #f="ngForm" novalidate>
    <select class="form-control form-control-lg" name="recipient" [(ngModel)]="recipientId">
      <option *ngFor="let person of persons" [ngValue]="person.id">
        {{person.firstName}} {{person.lastName}}
      </option>
    </select>
    <input class="form-control form-control-lg" type="text" placeholder="Message Text"
           name="msg" [(ngModel)]="msg">
    <button class="btn btn-lg btn-primary">Send</button>
  </form>

  <div class="alert alert-well" *ngIf="sent">
    <div>
      <span>notification</span>{{sent}}
    </div>
    <button type="button" class="close" (click)="close()"></button>
  </div>

</div>
