<div class="container main-content">
  <h2>Sissetulevad Sõnumid <span *ngIf="unread">({{unread}})</span></h2>

  <div class="messages">
    <div class="one-message message-title">
      <div class="from">Kellelt</div>
      <div>Sõnum</div>
      <div class="message-date">Millal</div>
      <div class="is-read">Loe</div>
    </div>

    <div class="one-message" *ngFor="let message of messages;" (click)="markAsRead(message.id, message.read)">
      <div class="from">{{message.from.firstName}} {{message.from.lastName}}</div>
      <div>{{message.message}}</div>
      <div class="message-date"><span>{{message.timeStamp.dayOfMonth}}.{{message.timeStamp.monthValue}}.{{message.timeStamp.year}}</span>{{message.timeStamp.hour}}:{{message.timeStamp.minute}}</div>
      <div class="is-read is-read-yes" *ngIf="message.read">
        <span class="no"></span>
      </div>
      <div class="is-read" *ngIf="!message.read">
        <!--<span class="no">No</span>-->
      </div>
    </div>
    <button class="btn btn-lg btn-dark btn-refresh" (click)="getInboxMessages()">Värskenda Sõnumeid</button>
  </div>

</div>
