<div class="container main-content">
  <h2>Väljaminevad Sõnumid</h2>

  <div class="messages">
    <div class="one-message message-title">
      <div class="from">Kellele</div>
      <div>Sõnum</div>
      <div class="message-date">Millal</div>
    </div>

    <div class="one-message" *ngFor="let message of messages;">
      <div class="from">{{message.to.firstName}} {{message.to.lastName}}</div>
      <div>{{message.message}}</div>
      <div class="message-date"><span>{{message.timeStamp.dayOfMonth}}.{{message.timeStamp.monthValue}}.{{message.timeStamp.year}}</span>{{message.timeStamp.hour}}:{{message.timeStamp.minute}}</div>
    </div>
  </div>

</div>
